{% extends "panel.html" %}

{% block admin_body %}
<div class="right_column">
  <h1>{{ listing.title }} Upgrades</h1>
  <ul>What goes here?
    <li>Show all available upgrades for a listing</li>
    <li>More Pictures</li>
    <li>more description options/ features</li>
    <li>Brochure upload</li>
    <li>Sign Placement in supported areas</li>
    <li>Extra sites to extend to</li>
  </ul>
Include little forms that have a hidden field with upgrade name. The forms will correlate to a function that performs the specified upgrade.
</div>
{% endblock admin_body %}
